<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About me</title>
    <!--Link the style CSS-->
    <link type="text/css" href="{{ url_for('static', filename='/css/style.css') }}" rel = "stylesheet">
</head>

<body>
    <h1>About Lucas</h1>
    <!--Header and paragraphs have default styling-->
    <h2>Junior: IS & OMBA</h2>
    <h2>Age: 21</h2>
    <!--Paragraphs to test inline font styling-->
    <p>Hi 👋, my name's Lucas, and I'm a junior at <strong>UMD</strong> studying <strong>IS & OMBA</strong>.
        I'm also a <em>teaching assistant</em> for a class and a <em>team leader</em> for an organization I'm part of.</p>
    <p>A couple of my professional experiences: I had an internship last summer at <em>PwC</em> as a <strong>Consulting</strong> Intern.
        I also had an internship two summers ago as a <strong>Videography & Social Media</strong> intern for a local <em>basketball league</em>.</p>

    <!--List items using parent-child class attributes-->
    <div class="container">
        <div class="left-list">
            Some skills I've picked up:
            <ul>
                <li>Python</li>
                <li>HTML</li>
                <li>MS Excel</li>
                <li>Adobe Photoshop</li>
                <li>Adobe Premiere Pro</li>
            </ul>
        </div>
        <div class="right-list">
            My top 5 favorite colors:
            <ol>
            {%  for color in favcolors %}
                <li>{{ color }}</li>
            {% endfor %}
            </ol>
        </div>
    </div>

    <!--Table of a class I've taken each semester-->
    <table>
        <tr>
            <th>Class</th>
            <th>Semester taken</th>
        </tr>
        <tr>
            <th>BMGT230</th>
            <th>F21</th>
        </tr>
        <tr>
            <th>HLSC322</th>
            <th>S22</th>
        </tr>
        <tr>
            <th>BMGT301</th>
            <th>F22</th>
        </tr>
        <tr>
            <th>BMGT302</th>
            <th>S23</th>
        </tr>
        <tr>
            <th>BMGT403</th>
            <th>F22</th>
        </tr>
        <tr>
            <th>BMGT407</th>
            <th>S23</th>
        </tr>
    </table>

    <h1>Find your birthday</h1>
    <form>
        <label for="datepicker">Choose a Date:</label>
        <input type="date" id="datepicker" name="datepicker">
        <input type="submit" value="Submit">
    </form>
    <!--Final Paragraph with ID attribute-->
    <p id="custom-paragraph">I also like listening to music a lot. I listened to over 50,000 minutes on Spotify last year.
        My top 5 songs were Cheshire by ITZY, Raindrops (Insane) by Metro Boomin & Travis Scott, Shut Down by Blackpink,
        Ojitos Lindos by Bad Bunny & Bomba Estéreo, and EA by Young Nudy & 21 Savage</p>

    <a href="/hello">Click to go back to hello</a>
    <a href="https://www.nytimes.com/games/connections">NYTimes connections (on the same page)</a>
    <a href="https://www.sofascore.com/" target = "_blank">Sofascore (in a new page)</a>

    <!--Image with logo class attribute-->
    <img class="logo" src ="https://terpconnect.umd.edu/~jbono/bmgt407/images/smith-logo.png" alt="RHSmith Logo">
</body>
</html>